@media(max-width: 768px){

    body{
        background-color: var(--background-color);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 72%;
    }
    
    h1{
        font-family: "Big Shoulders Display", sans-serif;
        font-weight: 700;
        font-size: 35px;
        color: var(--background-color);
        text-transform: uppercase;
    }
    
    p, a{
        font-family: "Lexend Deca", sans-serif;
        font-weight: 400;
        font-size: 13px;
        color: var(--paragraphs-color);
        line-height: 23px;
    }

    .content{
        height: 560px;
        width: 50px;
        display: grid;
        grid-template-areas: 
        "sedans" 
        "suvs" 
        "luxury";
        grid-template-columns: 270px;
        grid-template-rows: repeat(3, 1fr);
    }
    
    section{
        padding: 32px;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    
    img{
        width: 48px;
        height: 30px;
    }
    
    .sedans{
        grid-area: sedans;
        background-color: var(--orange-column-color);
        border-radius: 7px 7px 0px 0px;
    }
    
    .suvs{
        grid-area: suvs;
        background-color: var(--blue-column-color);
    }
    
    .luxury{
        grid-area: luxury;
        background-color: var(--warden-blue-column-color);
        border-radius: 0px 0px 7px 7px;
    }
    
    .button{
        background-color: var(--background-color);
        width: 120px;
        height: 40px;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items:center;
    }

    .orange{
        color: var(--orange-column-color);
    }
    
    .blue{
        color: var(--blue-column-color);
    }
    
    .warden-blue{
        color: var(--warden-blue-column-color);
    }
    
    .ob:hover{
        background-color: var(--orange-column-color);
        border: 2px solid hsl(0, 0%, 95%);
    }
    
    .bb:hover{
        background-color: var(--blue-column-color);
        border: 2px solid hsl(0, 0%, 95%);
    }
    
    .wbb:hover{
        background-color: var(--warden-blue-column-color);
        border: 2px solid hsl(0, 0%, 95%);
    }
    
    .learn-more:hover{
        color: var(--background-color);
    }
}

@media(max-width: 425px){
    body{
        width: 48%;
    }
}


@media(max-width: 375px){
    body{
        width: 40%;
    }
}

@media(max-width: 320px){
    body{
        width: 30%;
    }
}